<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Insert title here</title>
	<!-- headを挿入 -->
	<div th:insert="~{common/head :: head}"></div>
</head>

<body>
	<!-- ヘッダーを挿入 -->
	<div th:insert="~{common/header :: header}"></div>

	<main>
		<div>
			<h2>タスク</h2>
			<p class = "text-primary">This is the main content area.</p>
		</div>
	</main>

	<!-- bootstrap -->
	<div th:insert="~{common/script :: script}"></div>

	<!-- フッターを挿入 -->
	<div th:insert="~{common/footer :: footer}"></div>
</body>

</html>